# Virtual environment folder
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# VS Code settings folder
.vscode/

# MacOS files
.DS_Store

# Credentials or secret JSON files
credentials.json
